* {
  box-sizing: border-box;
}

.main {
  width: 500px;

  background: rgb(196, 231, 154);

  margin: 20px;
  padding: 20px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  padding-bottom: 20px;
}

.logo {
  width: 80px;
  height: 40px;

  background: rgb(71, 116, 19);
}

.menu {
  margin-left: 280px;
}

.menu-item {
  width: 30px;
  height: 15px;

  background: rgb(107, 154, 51);

  display: inline-block;
}

.intro {
  height: 150px;

  background-color: rgb(41, 77, 0);

  margin-bottom: 20px;
}

.header {
  height: 18px;
  width: 120px;

  background-color: rgb(41, 77, 0);

  margin-top: 20px;
  margin-bottom: 20px;
}

.secondary {
  display: flex;
  margin-top: 20px;
}

.primary-item {
  height: 80px;
  width: 80px;

  margin-right: 30px;
  flex-grow: 20;

  background-color: rgb(41, 77, 0);
}

.secondary-item {
  height: 80px;
  width: 80px;

  margin-right: 30px;
  flex-grow: 1;

  background-color: rgb(41, 77, 0);
}

.secondary-item:last-child {
  flex-grow: 1;
  margin-right: 0;
}
