* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

.intro {
  background: rgb(196, 231, 154);

  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.header {
  background: rgb(41, 77, 0);

  width: 250px;
  height: 40px;

  margin-bottom: 20px;
}

.paragraph {
  background: rgb(148, 193, 96);

  width: 450px;
  height: 100px;
}

@media screen and (max-width: 620px) {
  .header{
    width: 200px;
  }

  .paragraph{
    width: 300px;
  }
}

@media screen and (max-width: 320px) {
  .header {
    width: 100px;
  }

  .paragraph {
    width: 150px;
  }
}
