* {
  box-sizing: border-box;
}

html,
body{
  height: 100%;
}

.main {
  height: 100%;

  background: rgb(196, 231, 154);
}

.container {
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 20px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-bottom: 10px;
}

.logo {
  width: 140px;
  height: 30px;

  background: rgb(71, 116, 19);
}

.menu-item {
  width: 25px;
  height: 25px;

  background: rgb(107, 154, 51);

  display: inline-block;

  margin-left: 5px;
}

.intro {
  height: 250px;

  background-color: rgb(41, 77, 0);

  margin-bottom: 10px;
}

.secondary {
  display: flex;
}

.secondary-item {
  height: 60px;
  width: 100px;

  margin-right: 10px;
  flex-grow: 1;

  background-color: rgb(41, 77, 0);
}

.secondary-item:last-child {
  flex-grow: 1;
  margin-right: 0;
}

.footer {
  height: 30px;

  background-color: rgb(41, 77, 0);

  margin-top: 20px;
}

@media screen and (max-width: 600px) {
  .secondary-item: 2end-child {
   display: none;
  }
}
